* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    background: #126e82;
}

.header {
    width: 100%;
    color: aliceblue;
    background: #114e60;
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 3px solid aliceblue;
}

#table {
    width: 600px;
    height: 390px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.square {
    background: #18353d;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.452);
    transition: 0.6s ease;
}

.square img {
    width: 99%;
    height: 99%;
    opacity: 0.82;
    transition: 0.6s ease;
    cursor: pointer;
}

.square img:hover {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.square:hover {
    background: #1b1a17bb;
    border: 3px solid rgba(255, 255, 255, 0.89);
}

.square:hover {
    box-shadow: 0 0 0 5px rgba(#000, .4);
}

#scoreTable {
    width: 40%;
    margin: 20px auto;
    background: #d8e3e7;
    border-radius: 20px;
    border-spacing: 7px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#scoreTable tr td {
    width: 50%;
}

.text {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    margin-top: 33%;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    #table {
        width: 400px;
        height: 280px;
        gap: 20px;
        margin-bottom: 50px;
    }
    .square {
        width: 130px;
        height: 130px;
    }
    .text {
        font-size: 30px;
    }
    #scoreTable {
        padding: 0 5px;
        width: 50%;
        font-size: 20px;
    }
}